*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0f172a;
    color:white;
    overflow-x:hidden;
    line-height:1.6;
}

/* Background Blur */

.blur{
    position:fixed;
    border-radius:50%;
    filter:blur(120px);
    z-index:-1;
}

.blur1{
    width:300px;
    height:300px;
    background:#3b82f6;
    top:100px;
    left:50px;
}

.blur2{
    width:300px;
    height:300px;
    background:#8b5cf6;
    top:100px;
    right:50px;
}

/* Navbar */

nav{
    position:sticky;
    top:0;
    z-index:1000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:rgba(15,23,42,.9);
    backdrop-filter:blur(10px);
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#8b5cf6;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav ul li a:hover,
nav ul li a.active{
    color:#8b5cf6;
}

/* Hero Section */

.home{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px 20px;
}

.profile-pic{
    width:230px;
    height:230px;
    border-radius:50%;
    object-fit:cover;
    object-position:center top;
    border:5px solid #8b5cf6;
    box-shadow:
    0 0 25px #8b5cf6,
    0 0 60px rgba(139,92,246,.6);
    margin-bottom:25px;
}

.home h1{
    font-size:60px;
    margin-bottom:10px;
    background:linear-gradient(90deg,#60a5fa,#8b5cf6);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.home h2{
    font-size:28px;
    color:#cbd5e1;
    margin-bottom:20px;
}

.hero-description{
    max-width:800px;
    color:#cbd5e1;
    margin-bottom:30px;
}

/* Buttons */

.buttons{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    justify-content:center;
}

.buttons button{
    padding:16px 32px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
    font-size:18px;
    background:linear-gradient(90deg,#4f46e5,#8b5cf6);
    color:white;
    transition:.3s;
}

.buttons button:hover{
    transform:translateY(-5px);
}

/* Social Icons */

.social-icons{
    margin-top:30px;
}

.social-icons a{
    color:white;
    font-size:28px;
    margin:0 15px;
    transition:.3s;
}

.social-icons a:hover{
    color:#8b5cf6;
    transform:translateY(-5px);
}

/* Sections */

.section{
    padding:100px 80px;
}

.section h2{
    text-align:center;
    font-size:42px;
    color:#8b5cf6;
    margin-bottom:40px;
}

/* Cards */

.about-card,
.timeline-card,
.skill-card,
.project-card,
.cert-card,
.recognition-card,
.learning-card,
.contact-card{
    background:#1e293b;
    padding:30px;
    border-radius:15px;
    border:1px solid rgba(255,255,255,.05);
    transition:.3s;
}

.about-card:hover,
.timeline-card:hover,
.skill-card:hover,
.project-card:hover,
.cert-card:hover,
.recognition-card:hover,
.learning-card:hover,
.contact-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 25px rgba(139,92,246,.25);
}

.card-container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:25px;
}

.skill-card h3,
.project-card h3,
.cert-card h3{
    color:#8b5cf6;
    margin-bottom:15px;
}

.timeline-card{
    max-width:900px;
    margin:auto;
    text-align:center;
    padding:40px;
}
.timeline-card h3{
    font-size:30px;
    margin-bottom:15px;
}

.timeline-card p{
    font-size:22px;
}

.timeline-card span{
    font-size:20px;
}

/* Contact */

.contact-card{
    max-width:700px;
    width:100%;
    margin:auto;
    text-align:center;
    padding:60px;
}


/* Reveal Animation */

.about-card,
.timeline-card,
.skill-card,
.project-card,
.cert-card,
.recognition-card,
.learning-card,
.contact-card{
    opacity:0;
    transform:translateY(40px);
    transition:.8s ease;
}

.show{
    opacity:1;
    transform:translateY(0);
}

/* Mobile */

@media(max-width:768px){

    nav{
        flex-direction:column;
        padding:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
        margin-top:15px;
        gap:10px;
    }

    .home h1{
        font-size:42px;
    }

    .home h2{
        font-size:22px;
    }

    .profile-pic{
        width:180px;
        height:180px;
    }

    .section{
        padding:80px 20px;
    }

    .buttons{
        flex-direction:column;
        align-items:center;
    }
}
.about-card p{
    font-size:22px;
    line-height:1.8;
}
.skill-card{
    padding:40px;
    min-height:250px;
}

.skill-card h3{
    font-size:28px;
    margin-bottom:20px;
}

.skill-card p{
    font-size:22px;
    line-height:1.8;
}
.project-card{
    padding:40px;
    min-height:320px;
}

.project-card h3{
    font-size:28px;
    margin-bottom:20px;
}

.project-card p{
    font-size:20px;
    line-height:1.8;
}
.contact-card p{
    font-size:24px !important;
    line-height:1.8;
}
.learning-card p{
    font-size: 26px;
    line-height: 1.8;
}
.recognition-card p{
    font-size:26px;
    line-height:1.8;
}